@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  /*padding: 0; */
}

main {
  border-top: solid 1px black;
}

a {
  text-decoration: none;
  color: rgba(89, 166, 149, 0.937);
}

h1 {
  font-size: 2.2rem;
  
}

h2 {
  
  color: rgb(151, 109, 130);

}

h3 {
  font-family: 'Akshar', sans-serif;
  padding-top: 2em;
}

h4 {
  color: rgb(151, 109, 130);
  font-size: 1.5rem;
}


/*layout style for index page*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  /*grid-column: 1;
  grid-row: 1;*/
  padding: 1.8rem 1rem;
  border: solid 1px black;
  position: absolute;
  top: 38px;
  left: 12px;
}

.two {
  grid-column: 2/4;
  grid-row: 1;
  text-align: right;
}

.three {
  grid-column: 1/4;
  grid-row: 2/3;
  max-width: 100%;
  margin: auto;
  padding-top: 1rem;
  border-top: solid 1px black;
}

.four {
  /*background-image: url(/images/hero.jpg);
  margin-top: 300px;*/
  grid-column: 1/4;
  grid-row: 3/4;
  
}

.blogposts {
  padding-left: 2.5rem;
  
  font-size: 2rem;
  text-align: center;
}

.posts {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
}

.title {
  width: 400px;
  /*padding: .5rem;*/
  
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}

.title img {
  width: 100%;
}

.divider {
  color: rgb(89, 166, 149, 0.937);
  font-weight: 500;
  
}

.homelink {
  padding: 2rem 0;
}

@media screen and (max-width: 402px) {
  .two h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 626px) {
  .two p {
    font-size: .8rem;
  }

};

@media (min-width: 1000px) {
  .one {
    left: 20px;
  }
  .two {
    margin-right: 2rem;
  }

};
  




/*.five {
  grid-column: 1;
  grid-row: 5;
}

.six {
  grid-column: 2;
  grid-row: 5;
}

.seven {
  grid-column: 3;
  grid-row: 5;
}*/